.postmodal {
	background: rgba(0, 0, 0, 0.7);
	/* position: fixed; */
	/* left: 0;
	top: 20ch;
	height: 100ch;
	width: 100ch; */
	border: 1px solid gray;
	z-index: 100;
}
.box {
	width: 500px;
	position: absolute;
	left: 500px;
	top: 400px;
	z-index: 100;
}
